@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// Variables
$primary-dark: #1a1d21;
$secondary-dark: #0b0a0d;
$secondary-dark-min: #19171d;
$border-gray: #303336;
$hover-bg: #343338;
$primary-light: #fdfdfd;
$secondary-light: #cbcbcd;
$hightlight: #0576b9;
$header-height: 60px;

// Mixins
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header {
  @include flex-space-between;
  background-color: $secondary-dark;
  border-bottom: 1px solid $border-gray;
}

// Universal styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  background-color: $primary-dark;
  color: $secondary-light;
}

// Header Styles
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  @include header;

  .menu-icon-bg {
    height: $header-height;
    @include flex-center;
    padding: 0 25px;

    &:hover {
      background-color: $hover-bg;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 25px;
  }
}

// Main Styles
main {
  display: flex;
  position: fixed;
  top: $header-height;
  height: 100%;

  // Sidebar Styles
  #sidebar {
    background-color: $secondary-dark-min;
    border-right: 1px solid $border-gray;
    height: 100%;
    min-width: 350px;

    .add-list-form {
      display: grid;
      grid-template-columns: 1fr auto;
      position: sticky;
      top: 0;
      z-index: 3;
      width: 100%;
      margin-bottom: 20px;
      background-color: $secondary-dark-min;

      #new-list {
        border: none;
        border-bottom: 1px solid $border-gray;
        background-color: transparent;
        padding: 15px;
        margin: 0 10px;
        color: $secondary-light;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-bottom: 1px solid $secondary-light;
        }
      }

      .add-list-btn {
        background-color: $secondary-light;
        border: none;
        padding: 5px 20px;

        &:hover {
          background-color: $primary-light;
        }
      }
    }

    .list-container {
      margin: 0 10px;

      .list-item {
        padding-left: 10px;
        @include flex-space-between;

        .delete-icon {
          height: 45px;
          padding: 0 15px;
          @include flex-center;
          opacity: 0;
          color: $primary-light;
          font-size: 1.1rem;
        }

        &:hover {
          .delete-icon {
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }
        }

        &:not(.active):hover {
          background-color: $hover-bg;
        }

        &.active {
          background-color: $hightlight;
          color: $primary-light;
        }
      }
    }
  }
}
